/*header {
  background-color: #e68900;
  width: 100%;
  height: 100px;
}*/
header a {
  text-decoration: none;
  color: #005580;
}
body {
  color: #005580;
  background-color:#9ae5e5
  /*width: 100%;*/
}
.logo {
    font-size: 3em;
    font-family: Lucida Console;
    font-style: italic;
    float: left;
    padding: 15px;
}
table {
  margin-left: 30px;
}
td {
  border: 1px solid black;
  text-align: center;
}
th{
  border: 1px solid black;
  text-align: center;
}

li {
  position: relative;
  list-style: none;
  margin-top: 200px;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

p {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1em;
  font-family: Lucida Console;
  font-style: italic;
}

input[type=text] {
    width: auto;
    padding: 10px;
    height: auto;
    margin-left: 10px;
  }

input[type=submit] {
    margin-left: 100px;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    width: auto;
    height:auto;
    text-align: center;
  }
Button{
    margin-left: 100px;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    width: auto;
    height:auto;
    text-align: center;
    }
