/*header {
  background-color: #e68900;
  width: 100%;
  height: 100px;
}*/
header a {
  text-decoration: none;
  color: #005580;
}
body {
  color: #005580;
  background-color: #9fdf9f;
}
.logo {
    font-size: 2.5em;
    font-family: Lucida Console;
    text-align: center;
    padding: 15px;
}
.word {
  position: absolute;
  left: 10px;
  width: auto;
  padding: 0px;
}
#man {
    position: absolute;
    right: 20px;
    top: 100px;
    width: 300px;
    height: 300px;
    padding: 50px;
}
#table {
  position:absolute;
  margin-left: 10%;
  top: 150px;
  border: none;
  border-collapse: collapse;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  font-size: 0.85em;
  line-height: 1.333em;
  width: 50%;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  text-align: center;
}
th{
  border: 1px solid black;
  text-align: center;
}

li {
  position: relative;
  list-style: none;
  margin-top: 200px;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
  font-family: Lucida Console;
}

p {
  position:absolute;
  left: 20px;
  margin-top: 10px;
  font-size: 1em;
  font-family: Lucida Console;
}

Button {
    background-color:  #d0e1e1;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    font-family: Lucida Console;
  }
#scores {
  float:right;
  margin-top: 0px;
  margin-right: 25%;
}
#start, #again {
  float:left;
  margin-top: 0px;
  margin-left: 25%;
}
#clueButton{
  position:absolute;
  /*bottom: 300px;*/
  top:65%;
  left: 20px;
}
#scoreForm {
  position:absolute;
  background-color:  #d0e1e1;
  left: 41%;
  top:225px;
  font-size: 20px;
  font-family: Lucida Console;
}
#addButton {
  position:absolute;
  margin-left: 44%;
  top:225px;
}
#clue {
  position:absolute;
  /*bottom: 270px;*/
  top: 75%;
  left: 20px;
  font-size: 1.25em;
  font-family: Lucida Console;
}
#timer {
  position:absolute;
  top: 20px;
  margin-left: 20px;
  font-size: 1.25em;
  font-family: Lucida Console;
}
#category {
  position:absolute;
  margin-left: 20px;
  margin-top: 100px;
  font-family: Lucida Console;
}
#wrongLetters {
  position:absolute;
  margin-left: 20px;
  font-size: 1.25em;
  top: 60%;
  /*bottom: 370px;*/
  font-family: Lucida Console;
}
#youWin {
  position:absolute;
  left: 46%;
  margin-top: 100px;
  font-size: 1.5em;
  font-family: Lucida Console;
}
#youLose {
  position:absolute;
  left: 42%;
  margin-top: 100px;
  font-size: 1.5em;
  font-family: Lucida Console;
}
#footer {
   position:absolute;
   text-align: center;
   bottom:0;
   width:100%;
   height:60px;
   font-family: Lucida Console;
}
